$font-family: 'Muli', sans-serif;
$font-color: white;
$background-color: #8F57FD;

body {
    margin: 0;
    font-family: $font-family;
    background-color: $background-color;

    header {
        background-color: $background-color;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img:first-child {
            width: 200px;
            margin-top: 10px;
            margin-left: 10px;
        }
    }

	footer {
		display: flex;
		align-items: center;
		height: 100px;
		width: 100%;
	
		a {
			color: $font-color;
			cursor: pointer;
			font-size: 14px;
			padding-left: 30px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.header__menu {
    margin-right: 30px;

    div:first-child {
        margin-right: 8px;
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
            width: 40px;
            height: 40px;
        }

        p {
            margin: 0px;
            color: $font-color;
        }
    }

    ul {
        display: none;
        list-style: none;
        padding: 0px;
        position: absolute;
        width: 100px;
        text-align: right;
        margin: 0px 0px 0px -14px;

        li {
            margin: 10px 0px;

            a {
                color: $font-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &:hover ul, ul:hover {
        display: block;
    }
}

.main {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $font-color;
        font-size: 25px;
    }

    input {
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid white;
        border-radius: 25px;
        color: $font-color;
        font-family: $font-family;
        font-size: 16px;
        height: 50px;
        padding: 0px 20px;
        width: 70%;

        &::placeholder {
            color: $font-color;
        }

        &:focus {
            outline: none;
        }
    }
}

.carousel__title {
	color: $font-color;
	font: 16px;
	position: absolute;
	padding-left: 30px;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    padding: 30px;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;

    &:hover .carousel-item {
        opacity: 0.3;
    }

    &:hover .carousel-item:hover {
        transform: scale(1.5);
        opacity: 1;
    }

    &:hover .carousel-item:hover .carousel-item__details {
        opacity: 1;
    }
}

.carousel-item {
    background-color: cadetblue;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;

    &:hover ~ .carousel-item {
        transform: translate3d(100px, 0, 0);
    }

    img:first-child {
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;

    div:first-child > img {
        height: 40px;
        width: 40px;
    }

    p {
        color: $font-color;
        line-height: 5px;

        &:nth-child(2) {
            font-size: 15px;
        }

		&:nth-child(3) {
			font-size: 12px;
		}
    }
}