body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}
.header {
    background-color: #21C08B;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.signup {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.signup__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.signup__container > h2 {
    font-weight: 400;
}

.signup__container--form {
    display: flex;
    flex-direction: column;
}

.signup__container--form label {
    font-size: 14px;
}

.signup__container--signin {
    text-align: center;
}

.signup__container--signin a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.signup__container--signin a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
    color: white;
}

.input::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #AB88FF;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}